body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/036/326/510/large_2x/ai-generated-soccer-football-player-on-a-championship-team-running-after-the-ball-during-finals-match-photo.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
}


.homepage-container {
    width: 100%;
    height: 100vh;
}

.hero-container {
 
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}

.hero-content {
    /* background-color: rgba(208, 210, 208, 0.5); */
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ce1f16;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #73e36b;
}
